{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Registration
							</h1>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
          <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading">
                  <ul class="slots-list"></ul>
                </div>
                <div class="card-body">
                    <h4 style="font-family: 'Open Sans SemiBold'">Registration</h4>
                  <br>
                    <form method="POST"  class="form" enctype="multipart/form-data">
                    {% csrf_token %}



 {#   -------------------USER NAME--------------------- #}
                        <div class="input-group" >
                              {{ form.username }}
                        </div>

{#   -------------------CHOSE DATE--------------------- #}

                        <div class="input-group">

                      {% render_field  form.password1 class="input--style-3" placeholder="Password" %}
                          {% if error %}
                        {{ error }}
                    {% endif %}
                        </div>

{#   -------------------CHOSE TIME--------------------- #}

                        <div class="input-group">
                            {% render_field form.password2 class="input--style-3" placeholder="Confirm Password" %}

                        </div>
{#                      {% if form.password1.errors %}#}
{#                        {% for %}#}
{#                        {{ form.password1.errors }}#}
{#                      {% endif %}#}

{#   -------------------DISCORD--------------------- #}


                          {{ form.image }}
                    {% if errors %}
                      {% for key,value in errors.items %}
                        <div class="alert alert-danger">
                          <strong>{{ value }}</strong>
                      </div>
                      {% endfor %}
                    {% endif %}

                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit">Submit</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
        </div>
			</section>
			<!-- Start faq Area -->
{% endblock %}