{% extends "base.html" %}
{% block content %}
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Profile
							</h1>
              <h5 style="margin-top: 10px">
              </h5>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
          <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div  style="background: url('{{ user.image.url }}')top left/cover no-repeat;;" class="card-profile-heading" >
                  <ul class="slots-list"></ul>
                </div>
                <div class="card-body">
                  <br>


 {#   -------------------USER NAME--------------------- #}
                              <h5>
                                <li>Your name : {{ user.username }}</li>
                                <li style="margin-bottom: 140px">{% if user.training_paid %}
                                  Training plan :{{ user.training_paid }}
                                  {% else %}
                                  You don`t have any trainings (
                                  {% endif %}
                                </li>
                              </h5>

                        {% if user.training_paid %}
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit" id="checkout-button"><a style="color: #FFFFFF" href=https://commerce-pwjx.onrender.com/#price-area">Update plan</a></button>
                        </div>
                          {% else %}
                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit" id="checkout-button"><a style="color: #FFFFFF" href="https://commerce-pwjx.onrender.com/#price-area">Start!</a></button>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
        </div>
			</section>

			<!-- Start faq Area -->

{% endblock %}