{% extends "base.html" %}
{% block content %}
			<!-- start banner Area -->
			<section class="about-banner">
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Профиль
							</h1>
              <h5 style="margin-top: 10px">
              </h5>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap">
				<div class="container">
          <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div  style="background: url('{{ user.image.url }}')top left/cover no-repeat;;" class="card-profile-heading" >
                  <ul class="slots-list"></ul>
                </div>
                <div class="card-body">
                  <br>


 {#   -------------------USER NAME--------------------- #}
                              <h5>
                                <li>Твоё имя : {{ user.username }}</li>
                                <li style="margin-bottom: 140px">{% if user.training_paid %}
                                  {{ user.training_paid }}
                                  {% else %}
                                  У тебя пока нет купленных тренировок
                                  {% endif %}
                                </li>
                              </h5>


                        <div class="p-t-10">
                            <button class="btn btn--pill btn--green" type="submit" id="checkout-button"><a style="color: #FFFFFF" href="http://127.0.0.1:8000/#price-area">Тренироваться</a></button>
                        </div>
                </div>
            </div>
        </div>
        </div>
			</section>

			<!-- Start faq Area -->

{% endblock %}